.main {
  width: 100%;
  height: auto;
  border: 1px solid red;
}
.grid {
  max-width: 1260px;
  height: auto;
  border: 1px solid;
  margin: 0 auto;
}
.grid-item {
  background-image: url(image-path('polaroid-frame.jpg'));
  width: 400px;
  height: 485px;
  margin-bottom: 15px;
}
